*{
  margin: 0;
  box-sizing: border-box;
}

body {
	margin: 0;
}

#burger-menu {
	cursor: pointer;
	aheight: 27px;
	awidth: 27px;
	height: 4vw;
	width: 4vw;
	margin: 50px;
	overflow: visible;
	position: relative;
	z-index: 2;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
	background: #00cc00;
	display: block;
	height: 2px;
	opacity: 1;
	position: absolute;
	transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
	content: "";
}

#burger-menu span {
	right: 0px;
	atop: 13px;
	top: 2vw;
	awidth: 27px;
	width: 4vw;
}

#burger-menu span:before {
	left: 0px;
	atop: -10px;
	top: -2vw;
	awidth: 27px;
	width: 4vw;
}

#burger-menu span:after {
	left: 0px;
	atop: 10px;
	top: 2vw;
	awidth: 27px;
	width: 4vw;
}

#burger-menu.close span {
	transform: rotate(-45deg);
	atop: 13px;
	top 2vw;
	awidth: 27px;
	width: 4vw;
}

#burger-menu.close span:before {
	top: 0px;
	transform: rotate(90deg);
	awidth: 27px;
	width: 4vw;
}

#burger-menu.close span:after {
	top: 0px;
	left: 0;
	transform: rotate(90deg);
	opacity: 0;
	width: 0;
}

#amenu {
	overflow: scroll;
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	height: 0;
	visibility: hidden;
	opacity: 1;
	text-align: center;
	padding-top: 20px;
	transition: all 0.3s ease-in-out;
}

#menu.overlay {
	visibility: visible;
	opacity: 1;
	padding-top: 100px;
	background: rgba(00,00,00,1);
}

#menu li {
	list-style: none;
}

#menu a {
	color: #fff;
	display: block;
	font-size: 4vw;
	_font-size: 32px;
	margin-bottom: 30px;
	text-decoration: none;
}

.show_me {
}

.hide_me {
	display: none;
}

.wait{
      position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

button {
}

/*for smartphones*/
@media (hover: none) {

	* {
		font-size: 4vw;
	}

	button {
		font-size: 4vw;
	}
}

/*for pc*/
* {
  /*
	font-size: 4vw;
	*/

}
