<<<<<<< HEAD
.ui-grid-a>.ui-block-a{
	width:90%;
}
.ui-grid-a>.ui-block-b{
	width:10%;
}

.show_me {
}

.hide_me {
	display: none;
}

.wait {
	z-index: 999;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

/*for smartphones*/
@media (hover: none) {

	* {
	}

	button {
	}
}

/*for pc*/
* {

}
=======
.ui-grid-a>.ui-block-a{
	width:90%;
}
.ui-grid-a>.ui-block-b{
	width:10%;
}

.show_me {
}

.hide_me {
	display: none;
}

.wait {
	z-index: 999;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

/*for smartphones*/
@media (hover: none) {

	* {
	}

	button {
	}
}

/*for pc*/
* {

}
>>>>>>> 755e9e81e6b8c05e8dd45517d5103e5c21641cd6
