.show_me {
	}

.hide_me {
	display: none;
	}

@media (orientation: landscape) {
	*{
		font-size: 4vw;
	}
}

@media (orientation: portrait) {
	*{
		font-size: 4vw;
	}
}

.left{
	text-align:left;
}

.right{
	text-align:right;
}

.center{
	text-align: center;
}
