<html>
<head>
	<title>IMOK : Not Lost!</title>
	<meta http-equiv="Cache-Control" content="no-store">
	<meta http-equiv="Cache-Control: max-age=0">
</head>

<body align="center">

<h4>Settings</h4>

<form id='form_login' action='./imok.cgi'  method="get">
	<input name="command" type="hidden" value="set_settings" id='command_login'>
	<input name="tz_offset_hours" type="hidden" value="" id='tz_offset_hours'>
	<input name="timestamp" type="hidden" value="" id='timestamp'>

	<p>Email Contact 1:<br><input type='text' name="email_contact_1" placeholder="email contact" id='email1' value='<%email_contact_1%>' autofocus> </p>
	<p>Email Contact 2:<br><input type='text' name="email_contact_2" placeholder="email contact" id='email2' value='<%email_contact_2%>'> </p>
	<p>Email Contact 3:<br><input type='text' name="email_contact_3" placeholder="email contact" id='email3' value='<%email_contact_3%>'> </p>

	<p>Alert Mail Message:
	</br>
	<textarea id="email form" name="email_form" rows="4" cols="50"><%email_form%></textarea></p>

	<p><label for="start_date">Start Date</label> <input type="date"  name='start_date' id='start_date' value='<%start_date%>' onchange='calc_date();'></p>
	<p><label for="start_time">Start Time</label> <input type="time" id="start_time" name="start_time" value="<%start_time%>" onchange='calc_date();'></p>

	<p>
<label for="time_out">Countdown Time. Every </label>
<select name="time_out" id="time_out" value="<%time_out%>">
  <option value=".5">.5</option>
  <option value="1" selected>1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="3">4</option>
  <option value="3">5</option>
  <option value="3">6</option>
  <option value="3">7</option>
</select>	days. It is currently set to <b><%time_out%></b> days. It defaults to 1 day. Change drop down if required!
				 </p>

<p><input type='submit' onclick="calc_date();"> </p>

	</form>

	<p><a href='imok.cgi'><input type='button' value='Cancel'></a></p>

	<script>
	function calc_date()
	{
	const date1 = new Date();
	var tz_offset_hours = date1.getTimezoneOffset() / 60 ;
	document.getElementById("tz_offset_hours").value = -tz_offset_hours;

	var start_date = document.getElementById("start_date").value; //gives us yyyy-mm-dd
	var date_ip = start_date.split('-');
	var year = date_ip[0];
	var month = parseInt(date_ip[1]) - 1; //months start at 0 in Date.UTC
	var day = date_ip[2];
	var start_time = document.getElementById("start_time").value;
	var time_ip = start_time.split(':');
	var hour = time_ip[0];
	var minute = time_ip[1];

	var date_trigger = new Date(year, month , day , hour , minute);
	var start_UTC = Math.floor( date_trigger.getTime() / 1000 );
	if(date_trigger.getTime() < date1.getTime()){//do not allow trigger time in the past
		//alert("Trying to set a trigger time in the past. Please choose a time in the future.");
		//return 0;
		}

	document.getElementById("timestamp").value = start_UTC; //set time stamp value to send to server
	return 1;
	}

</script>

</body>
 </html>
